@using SurfCalendar.Models;
@{
    Layout = null;
}
@model Spot
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>@Model.Id - @Model.Name</h1>
</body>
</html>
