<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Shared/controls.css" rel="stylesheet" />
    <link href="~/Content/Shared/style.css" rel="stylesheet" />
    <link href="~/Content/Shared/Zones/content.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.3.js"></script>
    @RenderSection("HeadSection", false)
    <style>
        #TopTitle {
            background-color: green;
            color: white;
            font: xx-large bolder;
            padding: 2px;
        }
    </style>
</head>
<body>
    <div id="TopTitle">@ViewBag.Title</div>
    @RenderBody()
</body>
</html>