@{
    ViewBag.Title = "Home";
}
<div>
    <h1>Surf Calendar</h1>
    <ul>
        @*<li>@Html.ActionLink("Sessions","List", "Sessions")</li>
            <li>@Html.ActionLink("Quiver", "List", "Quiver")</li>*@
        <li>@Html.ActionLink("Spots", "List", "Spots")</li>
    </ul>
</div>
