
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <ul>
            <li>@Html.ActionLink("Sessions","Index", "Sessions")</li>
            <li>@Html.ActionLink("Quiver", "Index", "Quiver")</li>
            <li>@Html.ActionLink("Spots", "Index", "Spots")</li>
        </ul>
    </div>
</body>
</html>
