<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RootDirectory" value="C:\DEV\EUROLINEA\DATABASE\Deploiement\Eurolinea\Recette\4.0.0.0"/>
    <add key="PlateformeFilter" value=",[DEV],[PREPROD],[RE7],[PROD],[ALDRE7],[ALDPROD],[DMPROD],[IOPROD]"/>
    <add key="PaysFilter" value=",[BEL],[CZE],[DEU],[ALL],[ESP],[FRA],[GBR],[ITL],[PTG]"/>
    <add key ="VersionAttendue" value="3.0.0.0"/>
  </appSettings>
  <connectionStrings>
    <!-- select  name , N'<add name="Eurolinea ['+UPPER(substring(name,13,len(name)-12))+'] ['+UPPER(substring(name,10,3))+']" connectionString="Data Source=BABEL\MSSQL2005DEV;Initial Catalog='+Name+N';Persist Security Info=True;User ID=AutoContact;Password=KeyAC"/>' XML
          INTO #TMP
          from sys.databases where name Like '%eurolinea%'
          SELECT * FROM #TMP ORDER BY XML
          DROP TABLE #TMP -->
    <clear/>
    <add name="Eurolinea [DEV] [BEL]" connectionString="Data Source=BABEL\MSSQL2005DEV;Initial Catalog=EurolineaBelDev;Persist Security Info=True;User ID=AutoContact;Password=KeyAC"/>
    <add name="Eurolinea [DEV] [CZE]" connectionString="Data Source=BABEL\MSSQL2005DEV;Initial Catalog=EurolineaCzeDev;Persist Security Info=True;User ID=AutoContact;Password=KeyAC"/>
    <add name="Eurolinea [DEV] [DEU]" connectionString="Data Source=BABEL\MSSQL2005DEV;Initial Catalog=EurolineaDeuDev;Persist Security Info=True;User ID=AutoContact;Password=KeyAC"/>
    <add name="Eurolinea [DEV] [ESP]" connectionString="Data Source=BABEL\MSSQL2005DEV;Initial Catalog=EurolineaEspDev;Persist Security Info=True;User ID=AutoContact;Password=KeyAC"/>
    <add name="Eurolinea [DEV] [FRA]" connectionString="Data Source=BABEL\MSSQL2005DEV;Initial Catalog=EurolineaFraDev;Persist Security Info=True;User ID=AutoContact;Password=KeyAC"/>
    <add name="Eurolinea [DEV] [GBR]" connectionString="Data Source=BABEL\MSSQL2005DEV;Initial Catalog=EurolineaGbrDev;Persist Security Info=True;User ID=AutoContact;Password=KeyAC"/>
    <add name="Eurolinea [DEV] [ITL]" connectionString="Data Source=BABEL\MSSQL2005DEV;Initial Catalog=EurolineaItlDev;Persist Security Info=True;User ID=AutoContact;Password=KeyAC"/>
    <add name="Eurolinea [DEV] [PTG]" connectionString="Data Source=BABEL\MSSQL2005DEV;Initial Catalog=EurolineaPtgDev;Persist Security Info=True;User ID=AutoContact;Password=KeyAC"/>
    <add name="Eurolinea [PREPROD] [BEL]" connectionString="Data Source=BABEL\MSSQL2005DEV;Initial Catalog=EurolineaBelPreProd;Persist Security Info=True;User ID=AutoContact;Password=KeyAC"/>
    <add name="Eurolinea [PREPROD] [DEU]" connectionString="Data Source=BABEL\MSSQL2005DEV;Initial Catalog=EurolineaDeuPreProd;Persist Security Info=True;User ID=AutoContact;Password=KeyAC"/>
    <add name="Eurolinea [PREPROD] [ESP]" connectionString="Data Source=BABEL\MSSQL2005DEV;Initial Catalog=EurolineaEspPreProd;Persist Security Info=True;User ID=AutoContact;Password=KeyAC"/>
    <add name="Eurolinea [PREPROD] [FRA]" connectionString="Data Source=BABEL\MSSQL2005DEV;Initial Catalog=EurolineaFraPreProd;Persist Security Info=True;User ID=AutoContact;Password=KeyAC"/>
    <add name="Eurolinea [PREPROD] [ITL]" connectionString="Data Source=BABEL\MSSQL2005DEV;Initial Catalog=EurolineaItlPreProd;Persist Security Info=True;User ID=AutoContact;Password=KeyAC"/>
    <add name="Eurolinea [PREPROD] [PTG]" connectionString="Data Source=BABEL\MSSQL2005DEV;Initial Catalog=EurolineaPtgPreProd;Persist Security Info=True;User ID=AutoContact;Password=KeyAC"/>
    <!-- select  name , N'<add name="Eurolinea ['+UPPER(substring(name,13,len(name)-12))+'] ['+UPPER(substring(name,10,3))+']" connectionString="Data Source=ATLANTIS2\MSSQL2005PROD01;Initial Catalog='+Name+N';Persist Security Info=True;User ID=EuroLinea;Password=3uR0l1ne4"/>' XML
          INTO #TMP
          from sys.databases where name Like '%eurolinea%'
          SELECT * FROM #TMP ORDER BY XML
          DROP TABLE #TMP-->
    <add name="Eurolinea [RE7] [ALL]" connectionString="Data Source=ATLANTIS2\MSSQL2005PROD01;Initial Catalog=EurolineaAllPreProd;Persist Security Info=True;User ID=EuroLinea;Password=3uR0l1ne4"/>
    <add name="Eurolinea [RE7] [BEL]" connectionString="Data Source=ATLANTIS2\MSSQL2005PROD01;Initial Catalog=EurolineaBelPreProd;Persist Security Info=True;User ID=EuroLinea;Password=3uR0l1ne4"/>
    <add name="Eurolinea [RE7] [CZE]" connectionString="Data Source=ATLANTIS2\MSSQL2005PROD01;Initial Catalog=EurolineaCzePreProd;Persist Security Info=True;User ID=EuroLinea;Password=3uR0l1ne4"/>
    <add name="Eurolinea [RE7] [ESP]" connectionString="Data Source=ATLANTIS2\MSSQL2005PROD01;Initial Catalog=EurolineaEspPreProd;Persist Security Info=True;User ID=EuroLinea;Password=3uR0l1ne4"/>
    <add name="Eurolinea [RE7] [FRA]" connectionString="Data Source=ATLANTIS2\MSSQL2005PROD01;Initial Catalog=EurolineaFraPreProd;Persist Security Info=True;User ID=EuroLinea;Password=3uR0l1ne4"/>
    <add name="Eurolinea [RE7] [GBR]" connectionString="Data Source=ATLANTIS2\MSSQL2005PROD01;Initial Catalog=EurolineaGbrPreProd;Persist Security Info=True;User ID=EuroLinea;Password=3uR0l1ne4"/>
    <add name="Eurolinea [RE7] [ITL]" connectionString="Data Source=ATLANTIS2\MSSQL2005PROD01;Initial Catalog=EurolineaItlPreProd;Persist Security Info=True;User ID=EuroLinea;Password=3uR0l1ne4"/>
    <add name="Eurolinea [RE7] [PTG]" connectionString="Data Source=ATLANTIS2\MSSQL2005PROD01;Initial Catalog=EurolineaPtgPreProd;Persist Security Info=True;User ID=EuroLinea;Password=3uR0l1ne4"/>
    <add name="Eurolinea [PROD] [ALL]" connectionString="Data Source=ATLANTIS2\MSSQL2005PROD01;Initial Catalog=EurolineaAllProd;Persist Security Info=True;User ID=EuroLinea;Password=3uR0l1ne4"/>
    <add name="Eurolinea [PROD] [BEL]" connectionString="Data Source=ATLANTIS2\MSSQL2005PROD01;Initial Catalog=EurolineaBelProd;Persist Security Info=True;User ID=EuroLinea;Password=3uR0l1ne4"/>
    <add name="Eurolinea [PROD] [CZE]" connectionString="Data Source=ATLANTIS2\MSSQL2005PROD01;Initial Catalog=EurolineaCzeProd;Persist Security Info=True;User ID=EuroLinea;Password=3uR0l1ne4"/>
    <add name="Eurolinea [PROD] [ESP]" connectionString="Data Source=ATLANTIS2\MSSQL2005PROD01;Initial Catalog=EurolineaEspProd;Persist Security Info=True;User ID=EuroLinea;Password=3uR0l1ne4"/>
    <add name="Eurolinea [PROD] [FRA]" connectionString="Data Source=ATLANTIS2\MSSQL2005PROD01;Initial Catalog=EurolineaFraProd;Persist Security Info=True;User ID=EuroLinea;Password=3uR0l1ne4"/>
    <add name="Eurolinea [PROD] [GBR]" connectionString="Data Source=ATLANTIS2\MSSQL2005PROD01;Initial Catalog=EurolineaGbrProd;Persist Security Info=True;User ID=EuroLinea;Password=3uR0l1ne4"/>
    <add name="Eurolinea [PROD] [ITL]" connectionString="Data Source=ATLANTIS2\MSSQL2005PROD01;Initial Catalog=EurolineaItlProd;Persist Security Info=True;User ID=EuroLinea;Password=3uR0l1ne4"/>
    <add name="Eurolinea [PROD] [PTG]" connectionString="Data Source=ATLANTIS2\MSSQL2005PROD01;Initial Catalog=EurolineaPtgProd;Persist Security Info=True;User ID=EuroLinea;Password=3uR0l1ne4"/>
    <add name="Eurolinea [ALDPROD] [ITL]" connectionString="Data Source=ATLANTIS2\MSSQL2005PROD01;Initial Catalog=EurolineaItlAldProd;Persist Security Info=True;User ID=EuroLinea;Password=3uR0l1ne4"/>
    <add name="Eurolinea [ALDRE7] [ITL]" connectionString="Data Source=ATLANTIS2\MSSQL2005PROD01;Initial Catalog=EurolineaItlAldRe7;Persist Security Info=True;User ID=EuroLinea;Password=3uR0l1ne4"/>
    <add name="Eurolinea [DMPROD] [FRA]" connectionString="Data Source=ATLANTIS2\MSSQL2005PROD01;Initial Catalog=EurolineaFraDMProd;Persist Security Info=True;User ID=EuroLinea;Password=3uR0l1ne4"/>
    <add name="Eurolinea [IOPROD] [FRA]" connectionString="Data Source=ATLANTIS2\MSSQL2005PROD01;Initial Catalog=EurolineaFraIOProd;Persist Security Info=True;User ID=EuroLinea;Password=3uR0l1ne4"/>
  </connectionStrings>
</configuration>